@font-face {
  font-family: 'Pokedex';
  src: local('Pokedex'), url('./assets/fonts/Pokedex.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url('./assets/fonts/Source-Sans-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url('./assets/fonts/Source-Sans-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url('./assets/fonts/Source-Sans-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
}
